.taskCardWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
  max-width: 100%;
  margin-bottom: 20px;
  cursor: grab;
}

.taskCardWrap:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.taskCardWrap__information{
    display: flex;
    gap:5px;
}

.taskCardWrap__action {
  padding: 10px 20px;
  background-color: #ff4757;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.taskCardWrap__action:hover {
  background-color: #ff6b81;
}

h1, h3 {
  margin: 0;
}

h1 {
  font-size: 1.2em;
}

h3 {
  font-size: 0.9em;
  color: #666;
}

input[type="checkbox"] {
  margin-left: 10px;
}

